/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

/* Navbar styling */
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(45deg, #6a11cb, #2575fc, #ff7e5f, #feb47b);
  background-size: 400% 400%; /* Ensures the gradient can move */
  animation: moveGradient 20s ease infinite; /* Apply the animation */
  border-radius: 5px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.letter {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  animation: typing 1.5s steps(1) forwards, reappear 1s forwards 1.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.logo {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}

.logo span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-size: 35px;
  font-weight: bold;
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
  margin-right: 50px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f39c12;
}

/* Burger icon styling */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 30px;
  height: 4px;
  background-color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-image: linear-gradient(80deg, rgb(234, 146, 146), rgb(135, 135, 254));
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px;
    z-index: 100;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}